<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"
         metadata-complete="true">  

  <display-name>trumpet</display-name>
  <description>A simple key/value store over HTTP</description>

  <servlet>
    <servlet-name>trumpet</servlet-name>
    <servlet-class>TrumpetServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>trumpet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

</web-app>
